/* Animation Mixin */
/* Use - @include animationMixin(fadeIn, 1s, 1, normal, ease-out, forwards, 0)*/
/* -- Setting up Reusable Animations -- */
/* -- Fade In Animation -- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/* -- Slide Down Animation -- */
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate(0, -500px);
    -moz-transform: translate(0, -500px);
    transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translate(0, -500px);
    -moz-transform: translate(0, -500px);
    transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-o-keyframes slideDown {
  0% {
    -webkit-transform: translate(0, -500px);
    -moz-transform: translate(0, -500px);
    transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translate(0, -500px);
    -moz-transform: translate(0, -500px);
    transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
