@import 'mixins';


body{position:relative;}

h1{
    width:150px;
    position:absolute;
      background:red; 
  }

.slide{
  
    @include animationMixin(slideDown);
}

.slide2{
    background:blue; 
    @include animationMixin(fadeIn);
    position:relative;
}